<!-- navbar is included in base.html.  Dependencies are bootstrap and jquery -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <a class="navbar-brand" href="/">
    <img src="{{ url_for('static', filename='img/logoTransparant.png') }}" style="width:42px;height:42px;">
    TINY FEET
    </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >Emissions</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/emissions">Emissions Overview</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/emissions/map">Map Data</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/emissions/chart">Chart Data</a>
        </div>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/emissions">Emissions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/emissions/map">Map Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/emissions/chart">Chart Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recommendations">Recommendations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://www.tinyfeet.website">Community Site</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.mines.edu/capstoneseniordesign/project/tiny-feet-cap-toolkit/">Mines Showcase</a>
      </li>
    </ul>
    <form action="{{ url_for('emissions.chart') }}" method="POST" class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="number"
        min="80001"
        max="81658"
        placeholder="Zip"
        aria-label="Search"
        name="zipInput"
        required
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Get Data
      </button>
    </form>
    <a class="nav-link" href="/feedback" style="text-decoration: none !important; color: inherit;">Feedback</a>
  </div>
</nav>
<br>
<br>
