{% extends "helpers/base.html" %}
{% block title %} Emissions {% endblock %}
{% block content %}

<div class="container">
  <div class="shadow p-3 mb-5 bg-body rounded">
  <h3 class="text-center">Emissions Estimation Overview</h3>
  <br>
  <div class="shadow-sm p-3 mb-5 bg-body rounded">
  <h5>Data Explanation</h5>
  <p>Using the Emissions Estimation Tool, you will see your zip code’s estimated per capita greenhouse gas (GHG) emissions data displayed in
    the form of a heat map, pie chart, and bar chart showing GHG emissions by sources. The data for your county will be
    displayed by zip code in units of mT CO<sub>2</sub>e/year, broken down into four major sectors of your emissions.
    </p>
    <br>

    <h5>What is CO<sub>2</sub>e and why should I care about it?</h5>
    <p>CO<sub>2</sub>e is the standardized measurement of greenhouse gasses. 
      It allows us to express a carbon footprint comprised of many greenhouse gasses with one equivalent unit. 
      Carbon Dioxide (CO2), Methane (NH4), and Nitrous Oxide (N2O) are all greenhouse gasses, however they each have a different global warming potential (GWP) once released into the atmosphere. Global warming potential is measured in relation to Carbon Dioxide, therefore multiplying a chemical’s GWP by the volume (metric tons) released will provide us with the carbon dioxide equivalent volume. 
      Tracking our GHG emissions enables us to reduce them over time, lessening human contribution to global warming</p>
      <h5>1 mT CO2e is equal to:</h5> 

      <p>2513 miles driven with an average passenger vehicle </p>

      <p>113 gallons of gasoline consumed </p>

      <p>66.4 homes electricity use for a day </p>

      <p>121,643 smartphones charged </p>

      <p>42.5 trash bags of waste recycled instead of landfilled </p>

      <p>1.75 wind turbines running for an hour </p>

  </p>
  </div>

  <div class="bs-sectors shadow-sm p-3 mb-5 bg-body rounded">
    <h5>Sector Descriptions</h5>
    <p>GHG emissions data will be organized by the following source sectors</p>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="#cementMan" class="nav-link active" data-toggle="tab">Cement and Manufacturing</a>
        </li>
        <li class="nav-item">
            <a href="#wasteMan" class="nav-link" data-toggle="tab">Waste Management</a>
        </li>
        <li class="nav-item">
            <a href="#statEn" class="nav-link" data-toggle="tab">Stationary Energy</a>
        </li>
        <li class="nav-item">
          <a href="#transportation" class="nav-link" data-toggle="tab">Transportation</a>
      </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="cementMan">
          <br>
            <!-- <h4 class="mt-2">Cement and Manufacturing</h4> -->
            <p>This sector represents all emissions resulting from any cement or forms of manufacturing plants within the
              county of interest. GHG emissions are then distributed to specific municipalities as a per-capita average. This
              does not include trucking transportation to and from plants, which is included in the transportation emissions
              data.</p>
        </div>
        <div class="tab-pane fade" id="wasteMan">
          <br>
            <!-- <h4 class="mt-2">Waste Management</h4> -->
            <p>This sector shows emissions resulting from landfill processing facilities and their processes within the county
              of interest. GHG emissions are then distributed to specific municipalities as a per-capita average. This does not
              include trucking transportation to and from landfills, which is included in the transportation emissions data.</p>
        </div>
        <div class="tab-pane fade" id="statEn">
          <br>
            <!-- <h4 class="mt-2">Stationary Energy</h4> -->
            <p>This sector displays emissions created from residential, industrial, and commercial electrical and natural gas
              energy distribution/usage. Total energy distribution is from each utility service provider and allocated to their
              coverage area. GHG emissions are then distributed to specific municipalities within the coverage areas as a
              per-capita average.</p>
        </div>
        <div class="tab-pane fade" id="transportation">
          <br>
          <!-- <h4 class="mt-2">Transportation</h4> -->
          <p>This sector represents emissions released from gasoline and diesel combustion generated by all personal vehicles
            and transport trucks within the county of interest. We also included per-person emissions from airline
            transportation based on a national average. GHG emissions are then distributed to specific municipalities as a
            per-capita average.</p>
      </div>
    </div>
</div>



 
  <div class="bs-tools shadow-sm p-3 mb-5 bg-body rounded">
    <h5>Data Formats</h5>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="#heatMap" class="nav-link active" data-toggle="tab">Heat Map</a>
        </li>
        <li class="nav-item">
            <a href="#pieChart" class="nav-link" data-toggle="tab">Pie Chart</a>
        </li>
        <li class="nav-item">
            <a href="#barChart" class="nav-link" data-toggle="tab">Bar Chart</a>
        </li>
    </ul>
    <div class="tab-content ">
        <div class="tab-pane fade show active" id="heatMap">
          <br>
            <!-- <h4 class="mt-2">Cement and Manufacturing</h4> -->
            <p>This heat map gives you an overall view of the state of Colorado, showing which zip codes are highest in per
              capita GHG emissions rates and which are lowest.</p>
        </div>
        <div class="tab-pane fade" id="pieChart">
          <br>
            <!-- <h4 class="mt-2">Waste Management</h4> -->
            <p>This chart will display which sector of emissions is the largest for your area. This could be a starting point
              for you in developing your climate action plan.</p>
        </div>
        <div class="tab-pane fade" id="barChart">
          <br>
            <!-- <h4 class="mt-2">Stationary Energy</h4> -->
            <p>This chart will display a breakdown by specific GHG emissions sources for your area.</p>
        </div>
    </div>
</div>



  <br>
  <div class="shadow-sm p-3 mb-5 bg-body rounded">
  <h5>A Discussion of GHG Emissions Scope</h5>
  <div>
    <img src="../static/img/cityGHGemissions.png" width="100%" alt="Emissions" usemap="#emissionsmap">

    <map name="emissionsmap">
      <area shape="rect" coords="0,0,82,126" href="" title="Sun">
      <area shape="circle" coords="90,58,3" href="" title="Mercury">
      <area shape="circle" coords="124,58,8" href="" title="Venus">
    </map>
  </div>
  <p>Original image Source: Global Protocol for Community-Scale Greenhouse Gas Emission Inventories:
    <a href='https://ghgprotocol.org/sites/default/files/standards_supporting/GPC_Executive_Summary_1.pdf'
    >https://ghgprotocol.org/sites/default/files/standards_supporting/GPC_Executive_Summary_1.pdf</a></p>
  <br>
  <p>For the purposes of this estimation, we chose to focus on mostly “in-boundary” GHG emissions, or those generated
    within the zip code, city or county boundary of interest. Therefore, source GHG emissions include the following for
    any given municipality within Colorado: emissions from electricity distributed per-person and per-business, average
    emissions from natural gas combustion per person and per business, emissions from all passenger and freight vehicle
    miles travelled, emissions from any landfills within the municipality, and emissions from any cement or
    manufacturing
    facilities within the municipality. The only “out of boundary” emissions we included is an estimation of GHG
    emissions
    from airline transportation, based on a national per-person average. This scope was chosen based on public
    availability of data as well as areas where local governance has influence.</p>
  </div>

  <div class="shadow-sm p-3 mb-5 bg-body rounded">
    <h5>General Methodology</h5>
    <p>To start off, the team researched publicly available data for the main sectors of emissions, Energy, Vehicles 
      and Transportation, and Waste and Management. With the data for each major sector and its subsectors providing 
      different data types, the team worked together to convert into CO<sub>2</sub>e (Carbon Dioxide Equivalent). Since the 
      publicly available data consisted of varying data values in different units, the team started the calculation 
      in excel before exporting the data into the SQL database. The equations used to convert the publicly available 
      data are shown in more detail in the link below. The converted data is then uploaded into an SQL database, which 
      is then pulled by the web application. </p>
  </div>

    <!-- For more detail on the database methodology, please read the report in the link below:</p>--> 
    <div class="shadow-sm p-3 mb-5 bg-body rounded">
    <h5>Limitations of our In-boundary Emissions Estimation</h5>
    <p>Ultimately, our per-capita estimation is less a representation of the behavior 
      of residents and is instead a snapshot of the volume of waste collected and fossil 
      fuels combusted for activities occurring within the municipality boundaries. This 
      is beneficial information for regional administration to consider when identifying 
      actions to reduce emissions from sources within their jurisdiction.</p>
    <br>
    <ul>
      <li>Zip Codes with a population of zero have an “infinity” GHG emissions per capita. 
        These are likely industrial facilities or business parks. </li>
      <li>Similarly, areas with very low populations show a very high per capita emissions 
        if there are high emissions business(es) within the boundary</li>
      <li>High tourism areas portray a very high per capita GHG emissions regardless of the 
        behaviors of residents</li>
      <li>Transportation – Given that this represents in-boundary vehicle miles traveled (VMT), 
        a percentage of emissions is generated by through traffic and thus is outside of the locality’s 
        scope of management</li>
      <li>Construction and Manufacturing – source emissions are allocated to the jurisdiction they reside 
        within and doesn’t portray where the products are consumed.</li>
      <li>Waste – More populated areas often send their waste to landfills outside of their jurisdiction, 
        thus emissions are not necessarily allocated to the municipalities where they are generated</li>
    </ul>
    <br>
    <p>
      The process of developing this emissions estimation was to see how accurate of a calculation 
      was possible with publicly accessible data. Our research showed that due to data privacy concerns 
      more localized data (specifically for electricity and natural gas consumption) was unavailable 
      and therefore source emissions are averaged across a larger region.</p>
</div>
</div>
<br>
<br>
</div>
{% endblock %}